<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tpca</title>
</head>
<body>
	<%= render :partial => "partial/header" %>
	<%= yield %>
	<%= render :partial => "partial/footer" %>
</body>
</html>